* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 65px;
    font-family: 'Lato', sans-serif;
}

#title {
    font-family: inherit;
}

#header{
    background-color: gainsboro;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    padding: 10px 0 10px 80px;
    display: flex;
    align-items: center;
}

#logo-text {
    padding-left: 5px;
    font-size: 25px;
    white-space: nowrap;
}

#header-img {
    height: auto;
    width: auto;
    max-width: 55px;
    max-height: 45px;
}

#nav-bar {
    font-family: inherit;
}

.nav-link {
    display: inline;
    text-decoration: none;
    padding-right: 80px;
}

a {
    text-decoration: none;
    color: black;
}

#hero {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

#email {
    width: 280px;
    height: 27px;
    margin-top: 20px;
    padding-left: 5px;
}

#submit {
    width: 150px;
    height: 32px;
    margin-top: 15px;
    background-color: rgb(240, 190, 26);
    border-style: none;
    border-radius: 2px;
    font-size: 16px;
}

.grid {
    display: flex;
}

#features {
    
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
}

#icon-div {
    
    display: flex;
    padding: 33px 70px;
    align-items: center;
    justify-content: center;
}

#icon-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 5px;
}

#tree-icon {
    height: 60px;
    width: 60px;
}

#truck-icon {
    height: 60px;
    width: 60px;
}

#battery-icon {
    height: 60px;
    width: 60px;
}

.video {
    height: 315px;
    width: 560px;
    border-style: none;
    
}

#video-div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

#guitar-styles {
    display: flex;
    
    justify-content: center;
    margin-top: 65px;

}

#order-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px;
    border-style: solid;
    border-radius: 3px;
    margin: 10px;
    height: 315px;
    width: calc(100% / 3);
    text-align: center;
    
}

#card-header {
    margin-top: 11.5px;
}

#level {
    background-color: gray;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

#card-price {
    margin-top: 15px;
}

#card-text {
    line-height: 28px;
    margin-top: 15px;
}

#select {
    height: 40px;
    width: 100px;
    margin-top: 30px;
    border-style: none;
    border-radius: 2px;
    font-size: 16px;
    background-color: rgb(240, 190, 26);
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    width: 100%;
    margin-top: 30px;
    background-color: gainsboro;
}

.footer-link {
    
    display: inline;
    text-decoration: none;
    padding-right: 17px;
    
    margin-bottom: 0px;
}

#footer-list {
    padding-top: 5px;
}

#copyright {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 5.5px;
    font-size: 14.5px;
    color: rgb(78, 78, 78);
}

#bottom-text {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-right: 13px;
}