* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 65px;
    font-family: 'Lato', sans-serif;
}

#title {
    font-family: inherit;
}

#header{
    background-color: gray;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    padding: 10px 0 10px 80px;
    display: flex;
    align-items: center;
}

#logo-text {
    padding-left: 5px;
}

#header-img {
    height: auto;
    width: auto;
    max-width: 55px;
    max-height: 45px;
}

#nav-bar {
    font-family: inherit;
}

.nav-link {
    display: inline;
    text-decoration: none;
    padding-right: 80px;
}

a {
    text-decoration: none;
    color: black;
}

#hero {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    width: 280px;
    height: 27px;
}

#submit {
    width: 150px;
    height: 30px;
}

.grid {
    display: flex;
}

#features {
    
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#icon-div {
    
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#icon-text {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tree-icon {
    height: 60px;
    width: 60px;
}

#truck-icon {
    height: 60px;
    width: 60px;
}

#battery-icon {
    height: 60px;
    width: 60px;
}