* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    padding-top: 65px;
    font-family: 'Lato', sans-serif;
}

#page-wrapper {
    position: relative;
}

#title {
    font-family: inherit;
}

#header{
    background-color: rgb(238, 238, 238);
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        justify-content: center;
    }
}

.logo {
    padding: 10px 0 10px 65px;
    display: flex;
    align-items: center;
}

#logo-text {
    padding-left: 5px;
    font-size: 25px;
}

#header-img {
    height: auto;
    width: auto;
    max-width: 55px;
    max-height: 45px;
}

@media (max-width: 650px) {
    .logo {
        padding-left: 0px;
        margin-left: 30px;
    }
}

@media (max-width: 600px) {
    .logo {
        margin-left: 0px;
        margin-right: 25px;
    }
}

#nav-bar {
    font-family: inherit;
    text-align: center;
    padding-right: 20px;
}

#nav-bar > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

@media (max-width: 650px) {
    #nav-bar > ul {
        flex-direction: column;
    }
}

.nav-link {
    display: inline;
    text-decoration: none;
}

@media (max-width: 600px) {
    .nav-link {
        padding-bottom: 5px;
    }
}

a {
    text-decoration: none;
    color: black;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

@media (max-width: 600px) {
    #hero {
        margin-top: 80px;
    }
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

#email {
    width: 280px;
    height: 27px;
    margin-top: 20px;
    padding-left: 5px;
}

#submit {
    width: 150px;
    height: 32px;
    margin-top: 15px;
    background-color: rgb(240, 190, 26);
    border-style: none;
    border-radius: 2px;
}

input[type=submit] {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.grid {
    display: flex;
}

@media (max-width: 550px) {
    #features #icon-div {
        display: none;
    }
}

#features {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#icon-div {
    display: flex;
    padding-top: 33px;
    align-items: center;
    justify-content: center;
}

#icon-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 5px;
}

@media (max-width: 550px) {
    #icon-text {
        text-align: center;
    }
}

#tree-icon {
    height: 60px;
    width: 20vw;
    margin-bottom: 20px;
}

#truck-icon {
    height: 60px;
    width: 20vw;
    margin-bottom: 20px;
}

#qa-icon {
    height: 60px;
    width: 20vw;
    margin-bottom: 20px;
}

@media (min-width: 1100px) {
    #tree-icon, #truck-icon, #qa-icon {
        width: 18vw;
    }
}

@media (min-width: 1200px) {
    #tree-icon, #truck-icon, #qa-icon {
        width: 16vw;
    }
}

@media (min-width: 1400px) {
    #tree-icon, #truck-icon, #qa-icon {
        width: 14vw;
    }
}

#video {
    height: 315px;
    width: 560px;
    border-style: none;
}

#how-it-works {
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

#pricing {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

#order-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px;
    border-style: solid;
    border-radius: 3px;
    margin: 10px;
    height: 315px;
    width: calc(100% / 3);
    text-align: center;
}

@media (max-width: 800px) {
    #pricing {
        flex-direction: column;
    }

    #order-card {
        margin: 0 auto;
        width: 100%;
        max-width: 300px;
        margin-bottom: 10px;
    }
}

#card-header {
    margin-top: 11.5px;
}

#level {
    background-color: gray;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

#card-price {
    margin-top: 15px;
}

#card-text {
    line-height: 28px;
    margin-top: 15px;
}

#select {
    height: 40px;
    width: 100px;
    margin-top: 30px;
    border-style: none;
    border-radius: 2px;
    font-size: 16px;
    background-color: rgb(240, 190, 26);
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    width: 100%;
    margin-top: 30px;
    background-color: gainsboro;
}

.footer-link {
    display: inline;
    text-decoration: none;
    padding-right: 17px;
    margin-bottom: 0px;
}

#footer-list {
    padding-top: 5px;
}

#copyright {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 5.5px;
    font-size: 14.5px;
    color: rgb(78, 78, 78);
}

#bottom-text {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-right: 13px;
}